# Environments & sensitive files
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Node
node_modules/
dist/
dist-ssr/
*.local

# System & IDE
.DS_Store
.idea/
.vscode/
